/* reset default styles*/

html, body, h1, h2, h3, p, ol, ul, li, a {
	padding: 0;
	border: 0;
	margin: 0;
}
body {
	padding: 0 0 0 0;
	/*background-color: #5f5f5f;
	background-image: url(images/gobbler.png);
	background-position: top left;
	background-repeat: repeat;*/
	background: #000000 url(images/stardust.png) top left repeat;
}
.header {
	padding: 10px 10px 10px 10px;
	background-color: #b56663;
}

.header a {
	color: #ffffff;
}
.header img {
	display: block;
	margin: 0 auto 0 auto;
}
.main-content {
	width: 500px;
	padding: 20px 20px 20px 20px;
	border: 1px solid #dddddd;
	margin: 30px auto 0 auto;
	background: #ffffff url(images/crossword.png) top left repeat;
}
h1 {
	color: #ffffff;
	margin: 0 0 15px 0;
	text-align: center;	
}
h2 {
	margin: 10px 0 20px 0;
	text-align: center;
}
h3 {
	margin: 15px 0 15px 0;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 3px;
}
ul {
	padding: 0 0 0 50px;
}
ol { 
	padding: 0 0 0 50px;
}

ul li {
	
}
a {
	text-decoration: none;
}
.nav {
	padding-left: 0;
	margin: 5px 0 20px 0;
	text-align: center;
}
.nav li {
	display: inline;
}
.nav a {
	color: #0000af;
	text-decoration: none;
}
.recipes {
	list-style-type: none;
	padding: 0;
}
.recipes li {
	border: 1px solid #b56663;
	padding-left: 15px;
	margin-bottom: 10px;
	background-color: #ffffff;
/*	background: #ffffff url(images/li-bg.png) top left repeat;*/
}
.recipes h3 {
	border-bottom: 0;
}
.recipes a {
	color: #7facaa;
	text-decoration: none;
}
.recipes img {
	float: left;
	padding-right: 10px;
}
.photos {
	list-style-type: none;
	padding: 0;
}
.photos li {
	display: inline;
	padding-left: 11px; 
}
.featured-image {
	width: 500;
	height: 195px;
	background: #ffffff url(images/featured-cake.png) top left no-repeat;
}
.featured-image h3 {
	margin: 0;
	background-color: #333333;
	color: #ffffff;
	padding: 5px 0 5px 15px;
	text-transform: uppercase;
}






/*p {
	text-decoration: underline;
	color: red;
}




a:hover {
	text-decoration: underline;
	color: darkred;
}

ol li:first-child {
	color: red;
}

h2 {
	padding-top: 6px;
	padding-right: 3px;
	padding-bottom: 0;
	padding-left: 0;

	border-width: 6px;
	border-style: solid;
	border-color: black;
	margin: 6px 0 6px 0 ;
}*/